@import 'https://unpkg.com/open-props';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Oxanium:wght@200..800&display=swap');

/* reset stuff */

*,
::before,
::after {
  box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(html) {
  -webkit-text-size-adjust: none;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a :hover {
  color: var(--text-4);
}

/* page stuff */

html {
  --font-body: 'Outfit', sans-serif;
  --font-title: 'Oxanium', sans-serif;
}

:root {
  --surface-1: hsl(104 12 56);
  --surface-2: hsl(104 12 12);
  --surface-3: hsl(104 12 22);
  --surface-4: hsl(104 12 36);
  --text-1: hsl(102 21 7);
  --text-2: hsl(104 12 18);
  --text-3: hsl(28 42 91);
  --text-4: hsl(177 31 24);
  --border: hsl(103 11 12);
  --link: hsl(44 12 56);

  --space-sm: var(--size-3);
  --space-lg: var(--size-5);

  --timing-function-slow-ease: var(--ease-1);

  --font-size-sm: var(--font-size-0);
  --font-size-body: 1.125rem;
  --line-height-body: 1.6em;
  --font-weight-normal: var(--font-weight-5);
  --font-weight-bold: var(--font-weight-6);
  --font-weight-hero: var(--font-weight-8);
  --letter-spacing-body: 0.03em;
  --letter-spacing-title: -0.03em;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  background: linear-gradient(
      180deg,
      rgba(137, 157, 130, 0.3) 62.09%,
      rgba(97, 112, 92, 0.6) 100%
    ),
    url('mechindexbg2.svg');
  background-position: center;
  background-size: contain;
  background-color: var(--surface-1);
  color: var(--text-1);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
}

.wrapper {
  display: grid;
  align-items: center;
}

.button {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: var(--radius-2);
  cursor: pointer;
  display: inline-grid;
  gap: var(--space-sm);
  grid-auto-flow: column;
  padding: 12px 24px;
  place-items: center;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: background-color 0.2s var(--timing-function-slow-ease);
}

#right,
#left {
  color: var(--surface-4);
  background: transparent;
  border: 2px solid var(--surface-4);
  border-radius: 12px;
  font-family: monospace;
  font-weight: var(--font-weight-bold);
  transition: all ease-out 0.2s;
}

#right:hover,
#left:hover {
  cursor: pointer;
  color: var(--surface-1);
  background: var(--surface-4);
  border: 2px solid var(--surface-1);
}

#left:active {
  box-shadow: rgba(50, 50, 50, 0.4) 5px 5px, rgba(50, 50, 50, 0.3) 10px 10px,
    rgba(50, 50, 50, 0.2) 15px 15px, rgba(50, 50, 50, 0.1) 20px 20px,
    rgba(50, 50, 50, 0.05) 25px 25px;
}

#right:active {
  box-shadow: rgba(50, 50, 50, 0.4) -5px 5px, rgba(50, 50, 50, 0.3) -10px 10px,
    rgba(50, 50, 50, 0.2) -15px 15px, rgba(50, 50, 50, 0.1) -20px 20px,
    rgba(50, 50, 50, 0.05) -25px 25px;
}

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
  padding-inline: 16px;
  width: 100%;
}

@media (max-width: 770px) {
  .main {
    padding-inline: 16px;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .carousel {
    grid-row-start: 1;
    grid-column: 1 / 3;
  }
  .column-two {
    justify-self: end;
  }
  #right,
  #left {
    padding-inline: 56px;
    padding-block: 30px;
    font-size: 64px;
    line-height: 1.6;
  }
}

@media (min-width: 771px) {
  #right,
  #left {
    padding-inline: 0.25em;
    padding-block: 0.5em;
    font-size: 96px;
    line-height: 1.6;
  }
  .wrapper {
    grid-template-columns: auto 1fr auto;
  }
}
