/* Mech Overview Page Additional CSS */

.mech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.info-grid {
  display: grid;
  justify-content: start;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2px;
}

.column-left {
  color: var(--text-4);
  justify-self: end;
}
.column-right {
  justify-self: start;
  padding-left: 8px;
}

.decoration {
  display: inline-block;
  background-image: url('lines.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-title);
  font-weight: var(--font-weight-hero);
  letter-spacing: -var(--letter-spacing-title);
  line-height: 0.9em;
}

.overview-h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-4);
}

@media (max-width: 848px) {
  .mech-grid {
    grid-template-columns: 1fr;
  }
  .decoration {
    padding-block: 32px;
    font-size: clamp(2rem, 10vw, 7.8125rem);
  }
}

@media (min-width: 848px) {
  .decoration {
    font-size: clamp(3rem, 7vw, 7.8125rem);
    margin-left: -4rem;
  }
  .overview-h2 {
    padding-top: 2rem;
  }
}
