<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" />
    <title>Mech Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/overview.css') }}"
    />
  </head>
  <body>
    <nav><a href="/">
      <img src="{{ url_for('static', path='/hangar.svg') }}" alt="home icon"></a>
      <p><a href="mailto:wonderbot@space-shift.com">contact</a> || <a href="https://github.com/dj0le">github</a></p>
    </nav>
    <main>
    <div class="wrapper">
      <div>
        <button id="left"><</button>
      </div>



    <div class="mech-overview">
      <div class="mech-grid">
        <div class="overview-image">
          <img
            class="card-image"
            src="{{ url_for('static', path='/mech_images/' + mech.fullsize ) }}"
            alt="{{ mech.chassis }}"
            width="1000"
            height="1000"
          />
        </div>

        <div>
          <h1 class="decoration">{{ mech.chassis }}</h1>
          <div class="info-grid">
            <h2 class="overview-h2">overview</h2>
            <div class="details">
              <div class="column-left">Year:</div>
              <div class="column-right">{{ mech.year }}</div>
              <div class="column-left">Designation:</div>
              <div class="column-right">{{ mech.model }}</div>
              <div class="column-left">Weight</div>
              <div class="column-right">{{ mech.weight }}</div>
              <div class="column-left">Class:</div>
              <div class="column-right">{{ mech.weightClass }}</div>
              <div class="column-left">Cost:</div>
              <div class="column-right">{{ mech.cost }}</div>
              <div class="column-left">BV:</div>
              <div class="column-right">{{ mech.bv }}</div>
              <div class="column-left">Origin:</div>
              <div class="column-right">{{ mech.isClan }}</div>
              <div class="column-left">Armor Type:</div>
              <div class="column-right">{{ mech.armorType }}</div>
              <div class="column-left">External Armor:</div>
              <div class="column-right">{{ mech.totalExternalArmor }}</div>
              <div class="column-left">Internal Armor:</div>
              <div class="column-right">{{ mech.totalInternalArmor }}</div>
              <div class="column-left">Structure Type:</div>
              <div class="column-right">{{ mech.structureType }}</div>
              <div class="column-left">Engine:</div>
              <div class="column-right">{{ mech.engine }}</div>
              <div class="column-left">Heat Capacity:</div>
              <div class="column-right">{{ mech.heatCapacity }}</div>
              <div class="column-left">Heat Sinks:</div>
              <div class="column-right">{{ mech.heatSinks }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>


  <div  class="column-two">
    <button id="right">></button>
  </div>


  </main>
  <footer>
    <p>&#169 2024 // <a href="https://www.space-shift.com/">SPACEshift</a></p>
    <a href="https://github.com/dj0le/mech-index">
    <img src="{{ url_for('static', path='/logoname.svg') }}" alt="mech index"></a>
  </footer>
  </body>
</html>
